.myBanner {
  color: #FFE6CC;
  background-color: #9791ff;
  background-image: linear-gradient(180deg, #9791ff 0%, #42a5b6 100%);
}

.navbar {
  color: #42A5B6; 
  background-color: #FFE6CC;
}

.button {
  background-color: #42A5B6;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button:hover,
.button:focus {
  opacity: .75;
}

/** Wikipedia Search Styles **/

*,
*::before,
*::after {
  
 padding: 0;
margin: 0;
    box-sizing: border-box;
}



.searchForm-container {
    width: 100%;
    height: 100px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 50px; */
}



.searchForm {
    margin-left: 30px;
    display: flex;
    background-color: #292929;
    border: 1px solid #242424;
    border-radius: 4px;
    width:50%;
}



.searchForm-input {
    background-color: #f0f0f5;
    border: none;
    height: 44px;
    width: 100%;
    padding: 5px 10px;
    color: #292929;
}



.icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: none;
    background-color: #292929;
}



.icon:hover {
    background-color: #1f1f1f;
}



.icon img {
    width: 22px;
    height: 22px;
}



.searchResults {
    padding: 20px 0 50px;
    margin-top: 2px;
    width: 100%;
    text-align: left;
    background-color: white;
}



.resultItem {
    opacity: 0;
    margin-bottom: 20px;
    animation: show 0.5s forwards ease-in-out;
    color: #292929;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
}

.resultItem:hover {
    background-color: aliceblue;
}

.resultItem-title {
    margin-bottom: 4px;
}

.resultItem-title a {
    color: black;
    text-decoration: none;
}

.resultItem-title a:hover {
    text-decoration: underline;
}

.resultItem-snippet,

.resultItem-link {
    color: darkSlateGray;
    font-size: 13px;
}

@keyframes show {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 750px) {

    .searchForm-container {
        padding: 20px 0 20px;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
    }

    .searchForm {
        margin: 20px auto 0;
    }

    .searchForm-input {
        width: 300px;
    }

    .searchResults {
        width: 388px;
        margin-left: auto;
        margin-right: auto;
    }
}

/** footer **/
.footer {
  background-color: #42A5B6;
  text-color: #FFE6CC;
  padding: 10px;
}

.fa {
  font-size: 56px;
  font-weight: 500;
  color: #FFE6CC;
}

.fa:hover { 
  font-shadow: #FFE6CC 0 1px 30px;
  transition-duration: .1s;
}




/** home-button **/

#container {
    display: flex;
    width: 100%;
}

#first {
    border-radius: 8px;
    border-style: none;  
    width: 100%;
    margin-left: 10px;
}

.grid_container {
    border-style: none; 
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    padding: 10px;
}

.small_btn {
  background-image: linear-gradient(180deg, #9791ff 0%, #42a5b6 100%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFE6CC;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  height: 4rem;
  width: 100%;
  padding: 0 1.6rem;
  text-align: center;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.small_btn:hover {
  box-shadow: 0px 0px 60px 3px rgba(66,165,182,0.51);
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .small_btn {
    padding: 0 2.6rem;
  }
}


.grid-container {
    display: grid;
    grid-template-areas: "button1 button2 button3";
    grid-gap: 5px;
}

.grid-item:nth-child(1) {
    grid-area: button1;
}

.grid-item:nth-child(2) {
    grid-area: button2;
}

.grid-item:nth-child(3) {
    grid-area: button3;
}


/** table **/

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid;	
  border: #FFE6CC;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
  padding-left:4px 8px;
}

th {
  background-color: #FFE6CC;
  padding: 1em;
}

td { 
   padding: 1em;
}





