<!DOCTYPE html>
<html lang="en">
<head> 
 <meta charset="utf-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link href="css/mystyle.css" rel="stylesheet">
 
</head>
<body>


<!-- Begin banner -->
 
<div class="container-fluid p-5 text-center myBanner notranslate">
  <h1>Learn Taiwanese with 台灣話tâi-uân-uē</h1>
  <p>Learn all you need to know about Taiwanese!</p> 
</div>

<!-- End banner -->
 
 
<!--Begin navigation bar-->
 
<nav class="navbar navbar-expand-sm sticky-top">
  <div class="container-fluid notranslate">
   
    <a class="navbar-brand" href="https://ccyangtw.github.io/SML5202-2022-Jenny-final/">
      <img src="images/LOGO-bg-blue.jpg" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="tai-uan-ue logo">
    台灣話tâi-uân-uē
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://ccyangtw.github.io/SML5202-2022-Jenny-final/history.html">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ccyangtw.github.io/SML5202-2022-Jenny-final/phonology.html">Phonology</a>
        </li>

        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Vocabulary</a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="https://ccyangtw.github.io/SML5202-2022-Jenny-final/vocabulary-learn.html">Learning Vocabulary</a></li>
           <li><hr class="dropdown-divider"></li>
           <li><a class="dropdown-item" href="https://ccyangtw.github.io/SML5202-2022-Jenny-final/vocabulary-test.html">Test Vocabulary</a></li>
         </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://ccyangtw.github.io/SML5202-2022-Jenny-final/resources.html">Learning Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ccyangtw.github.io/SML5202-2022-Jenny-final/about.html">About Us</a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<!-- End navigation bar -->
 
 
<div class="container mt-5">
 {{ content }}
</div>

<!-- footer --> 
{% include footer.html %}
 
</body>
</html>
